.ponomar-regular {
    font-family: "Ponomar", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .montserrat-samir {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  